<!-- Sidebar  -->
 {% load static%}
 
 
        <nav id="sidebar">
            <ul class="list-unstyled components">
			<li  class="dropdown">
                    <a href="{% url 'panel_barbero' %}" class="dashboard"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                </li>
		
                <li class="dropdown">
                    <a href="{% url 'perfil_barbero' %}">
					<i class="far fa-user-circle"></i><span>Perfil</span></a>
                </li>

                <li class="">
                    <a href="{% url 'agregar_horario' %}"><i class="fas fa-globe-asia"></i><span>Gestionar mi horario</span></a>
                </li>
        <li class="">
                    <a href="{% url 'calendario_barbero' %}"><i class="fas fa-globe-asia"></i><span>Calendario de Citas</span></a>
                </li>

        
            
				
				<li  class="">
                    <a href="{% url 'finanzas_barbero' %}"><i class="far fa-bookmark"></i><span>Finanzas</span></a>
                </li>

        
            </ul>


        </nav>

        




